/*resetando valores do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Definindo variáveis globais*/
:root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;

  --font-primary: 'Asap', sans-serif;
  --font-secundary: 'Inconsolata', sans-serif;
  --font-tertiary: 'Maven Pro', sans-serif;
  --title-lg-primary: 600 56px/120% var(--font-primary);
  --title-md-primary: 600 24px/120% var(--font-primary);
  --title-sm-primary: 600 16px/120% var(--font-primary);
  --subtitle: 400 20px/120% var(--font-secundary);
  --title-md-tertiary: 400 16px/140% var(--font-tertiary);
  --title-sm-tertiary: 400 14px/140% var(--font-tertiary);
  --text: 400 16px/140% var(--font-tertiary);

  --filter-html: invert(24%) sepia(96%) saturate(7490%) hue-rotate(0deg) brightness(91%) contrast(85%);
  --filter-css: brightness(0) saturate(100%) invert(60%) sepia(20%) saturate(5986%) hue-rotate(180deg) brightness(92%) contrast(85%);
  --filter-js: brightness(0) saturate(100%) invert(86%) sepia(82%) saturate(6283%) hue-rotate(314deg) brightness(101%) contrast(84%);
  --filter-react: brightness(0) saturate(100%) invert(56%) sepia(90%) saturate(2123%) hue-rotate(180deg) brightness(91%) contrast(87%);
  --filter-node: brightness(0) saturate(100%) invert(68%) sepia(7%) saturate(3608%) hue-rotate(49deg) brightness(110%) contrast(60%);
  --filter-computer: brightness(0) saturate(100%) invert(47%) sepia(48%) saturate(641%) hue-rotate(233deg) brightness(106%) contrast(88%);
  --filter-db: brightness(0) saturate(100%) invert(87%) sepia(74%) saturate(5286%) hue-rotate(313deg) brightness(98%) contrast(87%);
  --filter-Devops: brightness(0) saturate(100%) invert(73%) sepia(4%) saturate(6484%) hue-rotate(49deg) brightness(105%) contrast(59%);
}
  

body {
  background-color: var(--gray-100);
  color: var(--gray-500);
  font-family: var(--text);
  min-height: 100vh;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 72px 120px 144px 120px;
  background-color: var(--gray-200);
}

.highlight  {
  display: flex;
  font: var(--subtitle);
  color: var(--red);
  justify-content: center;
  
} 

.title {
  display: flex;
  font: var(--title-md-primary);
  color: var(--gray-600);
  margin-top: 0.5rem;
  justify-content: center; 
}

.highlight-purple  {
  display: flex;
  font: var(--subtitle);
  color: var(--purple);
  justify-content: center;
  
} 