.header-container{
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  color: var(--gray-500);
  background-image: url(../assets/image/Background_Intro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  height: 750px;
  width: 1366px;
}

.profile-pic {
  width: 112px;
  height: 112px;
}

.name-profile{
  color: var(--red);
}

.intro {
  > h1 {
    font: var(--title-lg-primary);
    color: var(--gray-600);
    margin-top: 0.5rem;
  }

  > span {
    font: var(--subtitle);
  }

  > p {
    font: var(--text);
    text-align: center;
    max-width: 800px;
    margin-top: 20px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
}